.navbar__form-search {
  width: 360px;
  margin-left: 50px;
}
.navbar__avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 15px;
}
.navbar__name {
  font-weight: 500;
  color: var(--white-color);
}
.navbar__logo {
  width: 40px;
  height: 40px;
}
.navbar__container {
  background-color: var(--main-color);
  margin-bottom: 10px;
}
.navbar__btn-search {
  background-color: var(--button-color);
  color: var(--white-color);
  min-width: 60px;
}
.navbar__btn-search:hover {
  background-color: var(--button-color);
  color: var(--black-color);
}
.navbar__btn-create {
  background-color: var(--button-color);
  color: var(--white-color);
  width: 120px;
  height: 38px;
  margin-right: 20px;
  border: none;
  border-radius: 6px;
}
.navbar__btn-create:hover {
  background-color: var(--button-color);
  color: var(--black-color);
}
/* create */
.create__img-container {
  height: 400px;
}
.create__form {
  height: 400px;
}
.create__img {
  height: 100%;
  width: 100%;
  padding: 12px 0px;
}
.create__form-input {
  width: 100%;
  margin-bottom: 20px;
}
.create__form-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.create__upload-img {
  display: flex;
  justify-content: space-between;
}
.create__form-btn-upload {
  width: 100px;
  height: 40px;
  margin-top: 19px;
  border-radius: 5px;
  border: none;
  background-color: var(--button-color);
  color: white;
  font-weight: 600;
}
.create__form-btn-upload:hover {
  background-color: red;
}
.create__createGear-btn {
  width: 30%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: var(--button-color);
  color: white;
  font-weight: 600;
}
.create__createGear-btn:hover {
  background-color: red;
}
.create__createGear-btn-close {
  width: 10%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: var(--button-color);
  color: white;
  font-weight: 600;
}
.create__createGear-btn-close:hover {
  background-color: red;
}
.create__form-input-textarea {
  height: 80px;
}
.create__form-select {
  margin-left: 10px;
  margin-bottom: 15px;
}
/* cart */
.navbar__cart {
  color: var(--button-color);
  margin-right: 20px;
}
.navbar__cart:hover {
  color: var(--white-color);
}
