.createGear {
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.createGear-form {
  width: 800px;
  height: 600px;
  background-color: white;
  border-radius: 4px;
}
.create-form-title {
  text-align: center;
  margin-bottom: 50px;
}
.create-form-img {
  margin-left: 46px;
  border: thin groove rgb(192, 192, 192);
  height: 300px;
  width: 85%;
}
.create-form-create-input {
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
  outline: unset;
  border: thin groove rgb(192, 192, 192);
}
.create-form-create-input-description {
  width: 90%;
  height: 80px;
  margin-bottom: 10px;
  outline: unset;
  border: thin groove rgb(192, 192, 192);
}

.form__create-btn {
  margin-left: 213px;
  margin-top: 20px;
}
.form__create-btn-submit {
  width: 200px;
  height: 40px;
  background-color: rgb(255, 136, 0);
  border-radius: 7px;
  border: 0px;
  color: white;
}
.create-form-img-upload {
  margin-left: 46px;
}
.form__create-btn-submit-img {
  margin-left: 46px;
  width: 200px;
  height: 40px;
  background-color: rgb(255, 136, 0);
  border-radius: 7px;
  border: 0px;
  color: white;
  margin-top: 20px;
}
.form__create-btn-icon {
  margin-left: 10px;
}
